/* Import Google Fonts for custom font families */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Rubik+Wet+Paint&display=swap');

/* Container for the logo, centers the content */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Common styles for the text elements of the logo */
.Tech_, .Quarte_, .Services {
  font-size: 60px;
  font-weight: bold;
  margin: 0 2px; /* Adds a small space between the letters */
}

/* Specific styles for the "Tech_" part of the logo */
.Tech_ {
  font-family: 'Rubik Moonrocks', sans-serif;
  color: #E78A00;
}

/* Specific styles for the "Quarte_" part of the logo */
.Quarte_ {
  font-family: 'Rubik Moonrocks', sans-serif;
  color: #E3E1DF;
}

/* Specific styles for the "Services" part of the logo */
.Services {
  font-family: 'Rubik Wet Paint', sans-serif; /* Sets the font family */
  color: #E78A00; /* Sets the text color */
}